*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #0B2434;
    font-family: Karla, sans-serif;
}
#root{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tenzies{
    background-color: #F5F5F5;
    width: 75%;
    height: 75%;
    border-radius: 12px;
    max-width: 400px;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.container button{
    width: 50px;
    height: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: none;
    background-color: white;
    font-size: 1.75rem;
    font-weight: bold;
    cursor: pointer;
    font-family: Karla, sans-serif;
    color: #2B283A;
}
.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.tenzies > button{
    background-color: #5035FF;
    width: 150px;
    height: 45px;
    border-radius: 7px;
    border: none;
    font-family: Karla, sans-serif;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    line-height: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.title{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -3%;
    line-height: 100%;
    margin: 0;
}
.instructions{
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -3%;
    line-height: 100%;
    width: 280px;
    text-align: center;
    margin-top: 0;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}